.footer {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: #252525;
    color: #fff;
}

.contacts_left {
    float: left;
    width: 320px;
    margin-right: 80px;
}

.social {
    float: left;
    text-align: center;
}

.social_left {
    float: left;
}

.copyright {
    max-width: 320px;
}

.copyright_right {
    float: right;
}

.contacts-link:hover {
    text-decoration: none;
}

.social p {
    margin: 0;
    margin-bottom: 15px;
}

.copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

