.form__title {
    margin: 0;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}

.form input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 106px;
    padding: 10px 15px;
    border: 2px solid #000;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    color: #000;
    background: #f9f6f3;
    outline: none;
}

.form input:focus {
    border: 2px solid #977b5f;
}

.form input:nth-child(2n) {
    margin-right: 0;
}

