<footer class="footer">
    <div class="container clearfix">
        <section class="contacts contacts_left">
            Барбершоп «Бородинский»<br>
            Адрес: г. Киев, вулиця Саксаганського, 27<br>
            <a class="contacts-link" href="#">Как нас найти?</a><br>
            телефон: +38 (098) 120 80 32
        </section>
        <section class="social social_left">
            <p>Давайте дружить!</p>
            <a href="#" class="social-btn social-btn_vk">Вконтакте</a>
            <a href="#" class="social-btn social-btn_fb">Фейсбук</a>
            <a href="#" class="social-btn social-btn_inst">Инстаграм</a>
        </section>
        <section class="copyright copyright_right">
            <p>Разработано:</p>
            <a href="https://github.com/karachevtsev" class="btn btn-copyright">Artem Karachevtsev</a>
        </section>
    </div>
</footer>