<div class="form column__form">
    <h2 class="form__title">Записаться</h2>
    <p>
        Укажите желаемую дату и&nbsp;время и&nbsp;мы&nbsp;свяжемся с&nbsp;вами для подтверждения брони
    </p>
    <form action="/echo" method="post">
        <input type="date" name="date" value="" placeholder="Дата">
        <input type="time" name="time" value="" placeholder="Время">
        <input type="text" name="name" value="" placeholder="Ваше имя">
        <input type="tel" name="phone" value="" placeholder="Телефон">
        <button type="submit" class="btn">Отправить</button>
    </form>
</div>