<header class="header">
    <div class="container clearfix ">
        <nav class="menu">
            <ul class="menu__list"> 
                <li class="menu__item ">
                    <a class="menu__link" href="index.html">Главная</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Информация</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Новости</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="price.html">Прайс-лист</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="catalog.html">Магазин</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="login">
            <a href="#" class="login__link">Вход</a>
        </div>
    </div>
</header>