<div class="modal">
    <div class="modal__close">Закрыть</div>
    <h2 class="modal__title">Личный кабинет</h2>
    <p>Введите, пожалуйста, свой логин и пароль</p>
    <form class="login-form" action="/echo" method="post">
        <input type="text" class="icon-user" name="login" placeholder="Логин" required>
        <input type="password" class="icon-password" name="password" placeholder="Пароль" required>
        <input type="checkbox" name="remember" id="remember-me">
        <label for="remember-me">Запомните меня</label>
        <a href="#" class="restore">Я забыл пароль!</a>
        <button type="submit" class="btn">Войти</button>
  </form>
</div>