<ul class="news">
    <li class="news__item">
        Нам наконец завезли Ягермайстер! Теперь вы&nbsp;можете пропустить стаканчик во&nbsp;время стрижки
        <br>
        <time datetime="2013-09-25">25 сентября</time>
    </li>
    <li class="news__item">
        В&nbsp;нашей команде пополнение, Борис &laquo;Бритва&raquo; Стригунец, обладатель множества титулов и&nbsp;наград пополнил наши стройные ряды
        <br>
        <time datetime="2013-09-19">19 сентября</time>
    </li>
</ul>
<a href="#" class="btn">Все новости</a>