<div class="page-header">
    <h1 class="page-header__title">Прайс-лист</h1>
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
        <li class="breadcrumbs__item breadcrumbs__item_current"><a class="breadcrumbs__link breadcrumbs__link_current" href="price.html">Прайс-лист</a></li>
    </ul>
</div>
<div class="price-content">
    <div class="price-content__header">
        <h2 class="price-content__title price-content__title_big">Истинно мужская классика</h2>
    </div>
    <div class="price-columns clearfix">
        <div class="price-column price-column_left">
            <h2 class="price-column__title">Мы используем <br> только лучшие средства:</h2>
            <ul class="instruments">
                <li class="instruments__item">Baxter of California</li>
                <li class="instruments__item">Mr Natty</li>
                <li class="instruments__item">Suavecito</li>
                <li class="instruments__item">Malin+Goetz</li>
            </ul>
        </div>
        <div class="price-column price-column_right">
            <h2 class="price-column__title">Цены на услуги <br> наших мастеров:</h2>
            <table class="prices-table">
                <tr>
                    <td>Стрижка</td>
                    <td>1500 р.</td>
                </tr>
                <tr>
                    <td>Стрижка бороды</td>
                    <td>500 Р.</td>
                </tr>
                <tr>
                    <td>Накрутка усов</td>
                    <td>350 р.</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="price-columns clearfix">
        <h2 class="price-column__title">Несколько слов о нас:</h2>
        <div class="price-column price-column_left">
            <p class="short-text">Наша парикмахерская занимается исключительно мужскими стрижками. Стрижка каждого клиента для нас — это уникальная и продуманная до мелочей работа. Мы не работаем на количество, мы делаем качество.</p>
        </div>
        <div class="price-column price-column_right">
            <p class="short-text">Наша мастерская расположена в центре города, поэтому сделать стильную стрижку можно в любое время, даже в обеденный перерыв. Здесь вы можете погрузиться в удобную для вас атмосферу, чувствовать себя комфортно и свободно!</p>
        </div>
    </div>
</div>