<div class="page-header">
    <h1 class="page-header__title">Набор для путешествий "Baxter of California"</h1>
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Магазин</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Средства для ухода</a></li>
        <li class="breadcrumbs__item breadcrumbs__item_current"><a class="breadcrumbs__link breadcrumbs__link_current" href="#">Baxter of California</a></li>
    </ul>
</div>

<div class="product-info clearfix">
    <section class="product-gallery">
        <div class="product-gallery__big">
            <img class="main__image" src="img/item-big.jpg" width="460" height="498" alt="Baxter of California">
        </div>
        <div class="product-gallery__small clearfix">
            <a class="product-gallery__link" href="#">
                <img src="img/item-gallery-1.jpg" width="140" height="149" alt="Baxter of California">
            </a>
            <a class="product-gallery__link" href="#">
                <img src="img/item-gallery-2.jpg" width="140" height="149" alt="Baxter of California">
            </a>
            <a class="product-gallery__link" href="#">
                <img src="img/item-gallery-3.jpg" width="140" height="149" alt="Baxter of California">
            </a>
        </div>
    </section>
</div>