.column-left {
    float: left;
    width: 350px; 
    margin-right: 130px;
}

.column-right {
    float: right;
    width: 300px;
}

.column__title {
    margin: 0;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}