.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 33px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background: #663d15;
    transition: background .55s ease-out;
}

.btn:disabled {
    cursor: default;
    opacity: .5;
}

.btn:disabled:hover {
    background: none;
}

.gallery-btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-btn_prev {
    left: 0;
}

.gallery-btn_next {
    right: 0;
}

.gallery-btn_next:last-of-type {
    margin-right: 0;
}

.btn_form {
    width: 100%;
}

.social-btn {
    margin: 0 2px;
    display: inline-block;
    vertical-align: top;
    width: 43px;
    height: 43px;
    font-size: 0;
    text-decoration: none;
    background: #000 url("../img/sprite.png") no-repeat center;
}

.social-btn:hover {
    background-color: #fff;
    transition: background .55s ease-out;
}
.social-btn_vk {
    background-position: 9px -968px;
}

.social-btn_fb {
    background-position: 16px -691px;
}

.social-btn_inst {
    background-position: 11px -832px;
}

.social-btn_vk:hover {
    background-position: 9px -902px;
}

.social-btn_fb:hover {
    background-position: 16px -619px;
}

.social-btn_inst:hover {
    background-position: 11px -762px;
}
.btn-copyright {
    margin-right: 0;
}

.btn-copyright:hover {
    color: #000;
    background: #fff;
    transition: background 1s ease-out;
}

.btn_filter {
    margin-top: 5px;
    width: 112px;
}