.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 33px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background: #663d15;
}

.btn:disabled {
    cursor: default;
    opacity: .5;
}

.btn:disabled:hover {
    background: none;
}

.gallery-btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-btn_prev {
    left: 0;
}

.gallery-btn_next {
    right: 0;
}

.gallery-btn_next:last-of-type {
    margin-right: 0;
}

.btn_form {
    width: 100%;
}
